.pit-form {
  margin-left: 5%;
  margin-right: 5%;
}

.div-form {
  display: inline-block;
  max-width: 1000px;
  width: 90%;
  padding: 2%;
  margin-top: 25px;
  background-color: #cfcfcf;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
}

.div-main {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 2%;
  width: 100%;
  height: 100vh;
  background-color: #258ea6;
}
