.pit-form {
  margin-left: 5%;
  margin-right: 5%;
}

.div-form {
  /* display: inline-block; */
  padding: 2%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #cfcfcf;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
}

.div-second {
  display: "inline-block";
  width: "100%";
}

.div-main {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 2%;
  width: 100%;
  height: max-content;
  background-color: #258ea6;
}
